<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>пошаговая визуализация алгоритма Куна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>пошаговая визуализация алгоритма куна</h1>

    <button id="btnNext">следующий шаг</button>

    <svg id="graph-svg" width="600" height="400">
        <!-- граф отрисуем динамически через script.js -->
    </svg>

    <div id="log"></div>
    <div id="final-result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
